	<div class="w-full flex flex-row max-w-6xl items-center">
		<div class="section_content_details_img  <%= blok.layout %>">
      <img src="<%= blok.image.filename %>" alt="" class="section_content_details_img"/>
		</div>

		<div class="w-full flex flex-col gap-4 items-start">
					<div class="text-left text-[1.15rem] font-bold leading-[1.15] text-gray-700 md:text-[1.5rem] md:leading-[1.25]">
						<% binding.pry %>
				<%= rubyblok_content_tag(blok.section_header) %>
			</div>
			<div class="text-left text-[1.25rem] leading-[1.75rem] font-normal text-gray-700 md:max-w-screen-sm md:text-[1rem] md:line-[1.25rem]">
				<%= rubyblok_content_tag(blok.description) %>
			</div>
			 	<%= rubyblok_blocks_tag(blok.button) %>
		</div>
	</div>
