
  <a href="<%= blok.card_link %>" class="content_card <%= blok.icon_placement%>">
      <%# <%= blok.id if blok.respond_to?(:with_icon) %>
				<div class="content_card_icon">
					<img src="<%= blok.icon.filename %>" alt="<%= blok.icon.filename %>">
				</div>
        <div>
          <div class="title">
            <%= rubyblok_content_tag(blok.title) %>
          </div>
          <div class="text <%= blok.text_align %>">
            <%= rubyblok_content_tag(blok.text) %>
          </div>
        </div>
  </a>

  
