<div class="navbar">
  <a href="/">
    <img src="<%= blok.logo.filename %>" alt="" class="nav-logo-light"/>
    <img src="<%= blok.logo_dark.filename %>" alt="" class="nav-logo-dark"/>
  </a>

<span class="nav_content_wrapper">
  <nav class="nav_links_wrapper">
    <%= rubyblok_blocks_tag(blok.nav_links) %>
  </nav>
    <%= rubyblok_blocks_tag(blok.nav_cta) %>
  <div class="mobile_nav_wrapper">
    <button onclick="toggleMobileNav()" class="">
      <span id="mobileNavIcon">
        <%= image_tag blok.open_mobile_nav_icon.filename, alt: "", class: "h-8 w-8 bg-cover" %>
      </span>
    </button>
  </div>
</span>


</div>

<div id="mobileNav" class="mobile_nav">
  <nav id="mobileNavLinks" class="mobile_nav_links hidden">
    <%= rubyblok_blocks_tag(blok.nav_links) %>
  </nav>
</div>


<script>
  // Initialize state
  var isMobileNavOpen = false;
  var body = document.body;

  // Function to toggle mobile navigation
  function toggleMobileNav() {
    var mobileNav = document.getElementById('mobileNav');
    var mobileNavLinks = document.getElementById('mobileNavLinks');
    var mobileNavIcon = document.getElementById('mobileNavIcon');

    if (isMobileNavOpen) {
      // Close mobile navigation
      mobileNav.style.height = '0';
      mobileNavLinks.style.display = 'none';
      body.classList.remove('overflow-hidden');

      // Update state
      isMobileNavOpen = false;
    } else {
      // Open mobile navigation
      mobileNav.style.height = '100vh';
      mobileNavLinks.style.display = 'flex';
      body.classList.add('overflow-hidden');

      // Update state
      isMobileNavOpen = true;
    }

    // Update mobile navigation icon
    mobileNavIcon.innerHTML = isMobileNavOpen
      ? '<%= image_tag blok.close_mobile_nav_icon.filename, alt: "", class: "h-8 w-8 bg-cover" %>'
      : '<%= image_tag blok.open_mobile_nav_icon.filename, alt: "", class: "h-8 w-8 bg-cover" %>';
  }
</script>
