
	<div class="section_content flex-row">
		<div class="section_content_details_img  <%= blok.layout %>">
      <img src="<%= blok.image.filename %>" alt="" class="section_content_details_img"/>
		</div>

		<div class="section_content_details_content">
					<div class="header">
				<%= rubyblok_content_tag(blok.section_header) %>
			</div>
			<div class="description left">
				<%= rubyblok_content_tag(blok.description) %>
			</div>
			 	<%= rubyblok_blocks_tag(blok.button) %>
		</div>
	</div>
