<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Open Graph Meta Tags (Facebook, Twitter, LinkedIn) -->
    <meta property="og:title" content="Rubyblok">
    <meta property="og:description" content="Make your Rails app easily editable with Storyblok without the hustle of the release processes">

    <meta property="og:url" content="https://www.rubyblok.com">
    <meta property="og:image" content="https://www.rubyblok.com/og-image.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.rubyblok.com">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>

        <style>
      :root {
        --background-gradient: radial-gradient(circle, rgba(3, 167, 157, 0.2), rgba(3, 167, 157, 0));
        --text-color: #010101;
        --background-color: #f0f0f0;
        --foreground-rgb: #fff;
        --background-start-rgb: #fff;
        --background-end-rgb: #fff;

        font-family: Inter, sans-serif;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --text-color: #f0f0f0;
        --background-color: #010101;
        --foreground-rgb: #010101;
        --background-start-rgb: #010101;
        --background-end-rgb: #010101;
      }
    }

    html, body {
    background-color: var(--background-color);
    color: var(--text-color);
}
    </style>
  </head>

  <body>

    <main class="page_container">
      <div class="gradient-block" ></div>
      <%= yield %>
    </main>

    
  </body>
</html>
